.activities-page th {
  text-align: center;
  font-size: 1.5rem;
  width: 33.33%;
}


.activities-page td {
  text-align: center;
}


.activities-page {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.activities-page thead th {
  background-color: #f8f9fa;
}